body,
html {
    width: 100%;
    background: rgb(0,255,250);
    background: linear-gradient(15deg, rgba(0,255,250,0.1) 0%, rgba(217,255,142,0.2) 37%, rgba(214,255,154,0.3) 57%, rgba(0,184,63,0.3) 91%);
    font-size: 16px;
    color: #000;
    height: 100%;
    min-height: 100%;
}
.person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60%;
    margin: auto;

}
.person__info {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

}
.person__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 10px;
}
.person__details {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar {
    display: flex;
    justify-content: center;
    padding: 0 10px;
}
.avatar__picture {
    width: 350px;
    border-radius: 50%;
    border: 25px
    solid #fff;
    margin: 30px 0;
    z-index: 10;
    transition: transform 2s;
}
.avatar__picture:hover {
    transform: translateX(100%) rotate(360deg);
    transition: transform 2s ease;
}

.contacts {
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}
.contacts__name {
    font-weight: bold;
    font-size: 32px;
}
.contacts__role {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 32px;
}
.contacts__item {
    font-style: italic;
}
.contacts__title {
    font-weight: bold;
}
.contacts__title:after {
    content: ":";
}
.contacts__link {
    color: gray;
    border-color: #000;
}
.contacts__link:hover {
    color: blue;
}
.paragraph {
    margin: 0 0 15px 0;
    max-width: 700px;
    padding: 0 18px;
}
.paragraph_last {
    margin-bottom: 32px;
}

@media (min-width: 1200px) {
    .person__details {
        max-width: 1200px;
    }
}
@media (max-width: 992px) {
    .person__details {
        max-width: none;
    }
}
@media (max-width: 767px) {
    .person__details {
        max-width: none;
    }
    .person__info {
        flex-direction: column;

    }
    .contacts{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
@media (max-width: 375px) {
    .person {
        max-width: none;
    }
    .contacts__name {
        text-align: center ;
    }
}