body {
    width: 100%;
    font-size: 24px;
    color: #000;
    height: 100%;
    min-height: 100%;
    background: rgb(20,20,20);
    overflow: hidden;
    margin: 50% 0 0 0;
    position: relative;
}
body::after {
    content: '';
    position: fixed;
    top: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(20,20,20,1) 40%, rgba(20,20,20,0) 100%);
}
.person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    height: 100%;
    width: 50%;
    margin: auto;
    perspective: 550px;
}
.scroll-body {
    color: #ffc909;
    font-size: 24px;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 60s linear forwards;
}
@keyframes scroll {
    from { top: 0; transform: translateZ(0) rotateX(19deg); }
    to { top: -5000px; transform: translateZ(-1700px) rotateX(20deg); }
}
.person__info {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}
.person__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 8px;
}
.person__details {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar {
    display: flex;
    justify-content: center;
    padding: 0 8px;
}
.avatar__picture {
    width: 450px;
    border-radius: 50%;
    border: 30px
    solid #fff;
    margin: 32px 0;
    z-index: 10;
    transition: transform 2s;
}
.avatar__picture:hover {
    transform: translateX(100%) rotate(360deg);
    transition: transform 2s ease;
}
.contacts {
    flex-direction: column;
    justify-content: center;
    padding: 0 8px;
}
.contacts__name {
    font-weight: bold;
    font-size: 48px;
}
.contacts__role {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 32px;
}
.contacts__item {
    font-style: italic;
    font-size: 24px;

}
.contacts__title {
    font-weight: bold;

}
.contacts__title:after {
    content: ":";
}
.contacts__link {
    color: gray;
    border-color: #000;
}
.contacts__link:hover {
    color: blue;
}
.paragraph {
    margin: 0 0 16px 0;
    padding: 0 16px;
}
.paragraph_last {
    margin-bottom: 32px;
}

/*@media (min-width: 1200px) {*/
/*    .person__details {*/
/*        max-width: 1100px;*/
/*    }*/
/*}*/
/*@media (max-width: 992px) {*/
/*    .person__details {*/
/*        max-width: 900px;*/
/*    }*/
/*}*/
/*@media (max-width: 767px) {*/
/*    .person__details {*/
/*        max-width: 700px;*/
/*    }*/
/*    .person__info {*/
/*        flex-direction: column;*/

/*    }*/
/*    .contacts{*/
/*        display: flex;*/
/*        align-items: center;*/
/*        flex-direction: column;*/
/*    }*/
/*}*/
/*@media (max-width: 375px) {*/
/*    .person {*/
/*        max-width: 350px;*/
/*    }*/
/*    .contacts__name {*/
/*        text-align: center ;*/
/*    }*/
/*}*/

